/*********** GLOBAL SETTINGS ************/
@import url("https://fonts.googleapis.com/css?family=Roboto|Poppins:200,600");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Poppins, sans-serif;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

/*********** CLASSES ************/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button-down {
  display: block;
  font-size: 3em;
  transition: all 0.2s;
}
.button-down:hover {
  color: #32e0c4;
  transform: scale(1.2);
  cursor: pointer;
}
.button-down:active {
  transform: scale(0.8);
}

.fa {
  color: inherit;
}

.emphasize {
  color: #32e0c4;
  font-weight: 600;
}

.current {
  color: #222831;
  background-color: #eee;
  transform: scale(1.12);
}

#sign-up form, #sign-up, #help, #memberships, #locations .card, #locations, #about .summary, #about, #benefits .column, #showcase div, #showcase, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header nav a {
  display: inline-block;
  transition: all 0.3s;
  padding: 6px;
  outline: 1px solid transparent;
}
header nav a:hover {
  color: #222831;
  background-color: #eee;
  transform: scale(1.12);
}
header nav a:active {
  background-color: #32e0c4;
}

/*********** BLOCK - ELEMENT STYLES ************/
header {
  display: flex;
  align-items: center;
  color: #eee;
  background-color: #222831;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #32e0c4;
}
header h1 {
  font-size: 3em;
  margin-left: 4rem;
}
header nav {
  margin-left: auto;
  margin-right: 4rem;
  text-transform: uppercase;
}
header nav ul {
  font-size: 0;
}
header nav li {
  display: inline;
  padding: 0 1.1em;
  font-size: 1.1rem;
}
footer {
  height: 100px;
  border-top: solid 2px #eee;
  background-color: #393e46;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
footer span {
  padding: 5px 0;
}

/*********** MAIN CONTENT ************/
#showcase {
  background: url("../img/banner-post.jpg") no-repeat center/cover;
  color: #eee;
  height: 100vh;
  min-height: 800px;
}
#showcase div {
  width: 100%;
}
#showcase h1 {
  font-size: 4em;
  padding: 0.2em;
  margin-bottom: 20px;
}
#showcase p {
  text-align: center;
  width: 60%;
  padding: 10px;
}
#showcase .button-down {
  margin-top: 2em;
}

#benefits {
  color: #222831;
  height: 100vh;
  min-height: 800px;
  padding-top: 10%;
}
#benefits h2 {
  max-width: 300px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px #222831;
  text-align: center;
  font-size: 2em;
  padding: 20px 5px;
}
#benefits .container {
  margin: auto;
  padding-top: 50px;
  width: 85%;
}
#benefits .card {
  display: table-cell;
  text-align: center;
  padding: 3em 2.5em;
  width: 33%;
}
#benefits .card i {
  font-size: 80px;
  margin-bottom: 0.3em;
}
#benefits .column {
  width: 100%;
}
#benefits .column .button-down {
  margin-top: 1.5em;
}

#about {
  height: 100vh;
  min-height: 800px;
  color: #eee;
  background-color: #222831;
}
#about h2 {
  font-size: 2em;
  padding: 20px 5px;
  border-bottom: solid 1px #eee;
  margin-bottom: 70px;
}
#about h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
}
#about .summary {
  width: 100%;
  background-color: #393e46;
  padding: 60px 0;
  margin-bottom: 70px;
}
#about .summary p {
  width: 50%;
  font-size: 1.2em;
  text-align: center;
}
#about .contact-container {
  width: 70%;
  display: flex;
  flex-direction: row;
}
#about .card {
  text-align: center;
  line-height: 1.8em;
  width: 34%;
}
#about .card .big {
  font-size: 30px;
  margin-bottom: 0.5em;
}

#locations {
  height: 1100px;
  color: #222831;
  padding: 200px 0;
}
#locations h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  padding: 10px 5px;
  border-bottom: 1px solid #222831;
}
#locations p {
  margin-top: 50px;
  width: 60%;
  text-align: center;
}
#locations .loc-container {
  margin-top: 50px;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
#locations .card {
  width: 33%;
}
#locations .card h2 {
  width: 70%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 15px;
}
#locations .card .gym-image {
  height: 70%;
  width: 90%;
  background-position: center;
  background-size: cover;
}
#locations .card .gym1 {
  background-image: url("../img/gym1.jpg");
}
#locations .card .gym2 {
  background-image: url("../img/gym2.jpg");
}
#locations .card .gym3 {
  background-image: url("../img/gym3.jpg");
}

#memberships {
  height: 1000px;
  background-color: #222831;
  color: #eee;
}
#memberships ul {
  list-style: none;
  padding-top: 10px;
}
#memberships h1 {
  margin-top: 200px;
  font-size: 3em;
  border-bottom: solid 1px #eee;
  margin-bottom: 150px;
}
#memberships h2 {
  font-size: 2em;
  text-align: center;
}
#memberships .mem-container {
  width: 80%;
  display: flex;
  margin-bottom: 300px;
}
#memberships .card {
  background-color: #393e46;
  width: 33%;
  margin: 0 30px;
  border-bottom: 1px solid #32e0c4;
}
#memberships .card li {
  padding: 15px 20px;
  border-top: 1px solid #32e0c4;
}
#memberships .card .price, #memberships .card .sign-up {
  text-align: center;
  font-size: 1.5em;
  padding-left: 0;
  padding-right: 0;
}
#memberships .card .sign-up {
  color: #222831;
  background-color: #32e0c4;
  transition: all 0.3s;
  outline: 1px solid transparent;
  border-top: 1px solid #32e0c4;
  border-right: 1px solid #32e0c4;
  border-left: 1px solid #32e0c4;
}
#memberships .card .sign-up:hover {
  background-color: #222831;
  color: #32e0c4;
  cursor: pointer;
}

#help {
  height: 1400px;
  padding-top: 100px;
  color: #222831;
}
#help h1 {
  font-size: 4em;
  border-bottom: solid 1px #222831;
  margin-bottom: 100px;
}
#help .question-con {
  text-align: left;
  width: 100%;
}
#help .question-con .q {
  margin-left: 150px;
  margin-bottom: 100px;
}
#help .question-con h2 {
  display: inline-block;
  font-size: 1.8em;
  border-bottom: solid 1px #222831;
}
#help .question-con p {
  color: #393e46;
  width: 80%;
  margin-top: 30px;
}

#sign-up {
  height: 1000px;
  color: #222831;
}
#sign-up h1 {
  font-size: 3em;
  margin-bottom: 150px;
  border-bottom: solid 1px #222831;
}
#sign-up h2 {
  font-size: 2em;
  border-bottom: solid 1px #222831;
  margin-bottom: 20px;
  text-align: center;
}
#sign-up form {
  width: 70%;
}
#sign-up input {
  outline: none;
}
#sign-up select {
  margin-right: 20px;
}
#sign-up span {
  font-size: 0.8em;
  color: #393e46;
}
#sign-up fieldset {
  border: none;
  margin-bottom: 150px;
  width: 100%;
  text-align: center;
}
#sign-up #account label {
  margin-left: 25px;
}
#sign-up button {
  font-family: Roboto;
  font-size: 1.2em;
  background-color: #222831;
  color: #32e0c4;
  border: none;
  padding: 15px 32px;
  margin-top: -100px;
  text-decoration: none;
}
#sign-up button:hover {
  transition: all 0.3s;
  cursor: pointer;
  color: #eee;
}
#sign-up label {
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
